<section id="body">
    <section id="section">
        <input (click)="showkeys()" type="text" id="txt">
        <div class="div" (click)="num('1')">1</div>
        <div class="div" (click)="num('2')">2</div>
        <div class="div" (click)="num('3')">3</div>
        <div class="div" (click)="num('4')">4</div>
        <div class="div" (click)="num('5')">5</div>
        <div class="div" (click)="num('6')">6</div>
        <div class="div" (click)="num('7')">7</div>
        <div class="div" (click)="num('8')">8</div>
        <div class="div" (click)="num('9')">9</div>
        <div class="div" (click)="check()"><i class="fas fa-check-circle"></i></div>
        <div class="div" (click)="num('0')">0</div>
        <div class="div" (click)="times()"><i class="fas fa-times-circle"></i></div>        
    </section>
</section>