@import '../../styles/ex';
#body {
    width: 100%;
    height: 450px;
    background-color: #fafafa;
    color: rgb(157, 92, 13);
    padding-top: 2%;
    position: relative;
    border-radius: 10px;
    white-space: nowrap;
    overflow-y: auto;
    @include hidescroll('&');
  }
  
  #article {
    width: 50%;
    min-width: 300px;
    margin: 7% auto;
  }
  
  #article > div {
    cursor: pointer;
    margin: 5% 0;
  }
  div:hover > .name {
    width: 0;
  }
  div:hover > .numb {
    width: 99%;
  }
  #article > div:hover {
    font-weight: bold;
    font-variation-settings: "wght" 900, "dots" 7;
  }
  .name,
  .numb {
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    height: 50px;
    display: flex;
    align-items: center;
    text-indent: 10%;
  }
  .name {
    float: right;
    background-color: #f7d08a;
    width: 99%;
    transition: 0.5s;
  }
  .numb {
    float: left;
    background-color: #e5890a;
    width: 0;
    transition: 0.5s;
    direction: ltr;
    position: relative;
  }
  .fa-trash-alt{
      display: block;
      position: absolute;
      right: 5%;
      top: 50%;
      transform: translateY(-50%);
      color: #f7d08a;
      transition: .1s;
  }
  .fa-trash-alt:hover{color: #fafafa;}
  .clear {
    clear: both;
  }
  .fa-user-plus{
      right: 50%;
      transform: translateX(50%);
      border-radius: 50%;
      background-color: #9d5c0d;
      color: #fafafa;
      display: inline-block;
      padding: 2%;
      font-size: 150%;
      cursor: pointer;
      position: -webkit-sticky; /* Safari */
      position: sticky;
      bottom: 5%;
  }
  #glass {
      /*** change **/
      display: none;
      /****/
      pointer-events: none;
    position: absolute;
    width: 45%;
    min-width: 200px;
    min-height: 200px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: rgba(247, 208, 138, 0.25);
    box-shadow: 0 8px 32px 0 rgba(90, 53, 7, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  #glass > *:not(button) {
    display: block;
    margin: 3% auto;
  }
  #glass>*{
      pointer-events: auto;
  }
  input:nth-child(1) {
    margin-top: 7% !important;
  }
  #glass > div {
    text-align: center;
  }
  #glass button {
    width: 50px;
    margin: 3% auto;
    font-size: 150%;
    background: rgba(250, 250, 250, .25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 3px;
    border: 3px solid rgba(255, 255, 255, 0.18);
    cursor: pointer;
  }
  #glass button:first-child {
    color: #e5890a;
  }
  #glass button:nth-child(2) {
    color: #9d5c0d;
  }
  #glass button:hover{
      background: rgba(250, 250, 250, .5);
  }
  
  #glass > input{
    border: none;
    outline: none;
    background: rgba(229, 137, 10, 0.25);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(20px);
    border: 3px solid rgba(255, 255, 255, 0.5);
    color: #fafafa;
    caret-color: #fafafa;
    border-radius: 5px;
    padding: 1%;
  }
  #glass>input:focus{
      border: none;
    outline: none;
    background: rgba(229, 137, 10, .5);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(20px);
    border: 3px solid rgba(255, 255, 255, 0.5);
    color: #fafafa;
    caret-color: #fafafa;
    border-radius: 5px;
    padding: 1%;
  }
  #glass > input::selection {
    background-color: #f7d08a40;
  }
  