<section id="body">
    <section id="section">
        <span class="span" (mouseover)="hover(0)" (mouseout)="out(0)" (click)="score(0)">
            <i class="far fa-star"></i>
            <i class="fas fa-star"></i>
        </span>
        <span class="span" (mouseover)="hover(1)" (mouseout)="out(1)" (click)="score(1)">
            <i class="far fa-star"></i>
            <i class="fas fa-star"></i>
        </span>
        <span class="span" (mouseover)="hover(2)" (mouseout)="out(2)" (click)="score(2)">
            <i class="far fa-star"></i>
            <i class="fas fa-star"></i>
        </span>
        <span class="span" (mouseover)="hover(3)" (mouseout)="out(3)" (click)="score(3)">
            <i class="far fa-star"></i>
            <i class="fas fa-star"></i>
        </span>
        <span class="span" (mouseover)="hover(4)" (mouseout)="out(4)" (click)="score(4)">
            <i class="far fa-star"></i>
            <i class="fas fa-star"></i>
        </span>
    </section>
    <div id="num">{{num}}</div>
</section>