<section id="body">
    <article>
        <section>
          <label for="number" class="box checkbox">
            numbers
            <input type="checkbox" name="number" id="number" checked />
            <span class="check"></span>
          </label>
          <label for="letter" class="box checkbox">
            letters
            <input type="checkbox" name="letter" id="letter" />
            <span class="check"></span>
          </label>
          <label for="caps" class="box checkbox">
            LETTERS
            <input type="checkbox" name="caps" id="caps" />
            <span class="check"></span>
          </label>
          <label for="symbol" class="box checkbox">
            symbols
            <input type="checkbox" name="symbol" id="symbol" />
            <span class="check"></span>
          </label>
          <br /><br /><br>
  
          <div>
            <label class="checkbox">
              8-9 characters
              <input type="radio" name="char" value="8" checked />
              <span class="rad check"></span>
            </label>
            <label class="checkbox">
              12 characters
              <input type="radio" name="char" value="12" />
              <span class="rad check"></span>
            </label>
          </div>
          <button (click)="createPass()">Create</button>
          <input type="text" readonly id="output">
          <button (click)="copyPass()">Copy</button>
        </section>
      </article>
</section>