<nav>
  <ul>
    <a routerLink="/text-checker"><li>شمارنده متن</li></a>
    <a routerLink="/clock"><li>ساعت آنالوگ</li></a>
    <a routerLink="/chat"><li>چت</li></a>
    <a routerLink="/timer-stopwatch"><li>تایمر و کرونومتر</li></a>
    <a routerLink="/score"><li>رای بده</li></a>
    <a routerLink="/keys"><li>کیبورد مجازی</li></a>    
    <a routerLink="/pasgen"><li>پسوردساز</li></a>
    <a routerLink="/tolist"><li>کارها</li></a>
    <a routerLink="/contacts"><li>مخاطبان</li></a>
    <a routerLink="/basket"><li>سبد خرید</li></a>
    <a routerLink="/test"><li>آزمون</li></a>
    <a routerLink="/image-slider"><li>گالری</li></a>
    <a routerLink="/mp3player"><li>موزیک‌ پلیر</li></a>
    <a routerLink="/"><li ><span class="fas fa-home"></span> خانه</li></a>
  </ul>
</nav>
<h1>{{title}}</h1>
<router-outlet></router-outlet>