@import './styles/ex';
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import './styles/ex';
#body {
    border-radius: 10px;
    height: 450px;
    overflow-y: auto;
    @include hidescroll('&');
  }
$bg:#24A19C;
$txt:#FAEEE7;
$prim:#325288;
$scnd:#D96098;
body{
    background-color: $black;
    color: $white;
    direction: rtl;
    padding-right: 12em;
    padding-top: 2em;
    padding-left: .7em;
}

.days>div{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .3em;
    border: 3px solid transparent;
    transition: .3s ease-out;
    cursor: pointer;
}
.days>div:hover{
    border-color: $scnd;
}
.days>.today{
    background-color: $bg;
    color: $txt;
}