<section id="body">
    <article>
        <section class="banner">
          <!--d-flex-->
          <span class="fas fa-angle-left" (click)="prevMonth($event)"></span>
          <div id="header">
                  <p>X</p>
                  <p>XXXXXXXXXXX</p>
          </div>
          <span class="fas fa-angle-right" (click)="nextMonth($event)"></span>
        </section>
        <section class="cont">
          <!--grid-->
          <section class="week">
            <div>SUN</div>
            <div>MON</div>
            <div>TUE</div>
            <div>WED</div>
            <div>THU</div>
            <div>FRI</div>
            <div>SAT</div>
          </section>
          <section class="days">
          </section>
          <br>
        </section>
      </article>
</section>